body {
  font-family: sans-serif;
  padding: 2em;
  background: #f9f9f9;
}
textarea {
  width: 100%;
  height: 100px;
}
pre {
  white-space: pre-wrap;
  background: #eee;
  padding: 1em;
  margin-top: 1em;
}